<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/full_info.css') }}">
</head>
<body>
    <header><p><b>TODO List</b></p></header>
    <main>
        <div class="main-container">
            <h2>{{ title }}</h2>
            <p> {{ description }} </p>
            <a href="/"><p>Back to home</p></a>
        </div>
    </main>
</body>
</html>
