<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log in page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/login_style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/users.js') }}" defer></script>
    </head>
    <body>
        <header>
            <p><b>TODO List</b></p>
        </header>
        <main>
            <form id="input-data">
                <div>
                    <label for="login">Login</label>
                    <input type="text" name="login" id="login" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete required>
                </div>
            </form>
            <div class="buttons">
                <button id="button_create_new_account" form="input-data" type="submit" formaction="{{ url_for('api_blueprint.users_blueprint.register') }}">Create an account</button>
                <button id="button_login" form="input-data" type="submit" formaction="{{ url_for('api_blueprint.users_blueprint.login') }}">Log in</button>
            </div>
        </main>
    </body>
</html>
