:root {
    --gray: #DADADA;
    --light-blue: #CAF9FF;
    --normal-indent: 1rem;
    --big-indent: 1.5rem;
    --normal-font-size: 16px;
    --big-font-size: 20px;
    --normal-border-radius: 5px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--normal-font-size);

    background-color: white;
}

header {
    background-color: var(--gray);
    padding: var(--normal-indent);
    font-size: var(--big-font-size);
}

header > p {
    text-align:center;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;

    padding-top: var(--big-indent);
    padding-bottom: var(--big-indent);
}

div.main-container {
    width: 50%;
    min-width: 650px;
    background-color: var(--light-blue);
    padding: var(--normal-indent);
    border-radius: var(--normal-border-radius);
}
