* {
    box-sizing: border-box;
}

:root {
    --gray: #DADADA;
    --light-gray: #E7E7E7;
    --light-blue: #CAF9FF;
    --red: #FF0000;
    --light-red: #FFBDBD;
    --cancel-color: #FF6C6C;
    --green: #30BA00;
    --light-green: #E3FF92;
    --orange: #FFE86F;
    --normal-font-size: 16px;
    --big-font-size: 20px;
    --very-small-indent: 0.5rem;
    --small-indent: 0.75rem;
    --normal-indent: 1rem;
    --big-indent: 1.5rem;
    --normal-border-radius: 5px;
    --normal-border-width: 4px solid;
}

html, body {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--normal-font-size);

    background-color: white;
}

p {
    margin: 0;
    block-size: fit-content;
    align-self: center;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    font-size: var(--big-font-size);

    background-color: var(--gray);
}

body > header > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


button.btn-text {
  border: none;
  background-color: inherit;
  padding: var(--normal-indent);
  cursor: pointer;
  display: inline-block;
}

.btn-text:hover {
    background-color: white;
}

div.header__right {
    display: flex;
    flex-direction: row;

    margin-left: auto;
}

div.header__right > p {
    margin-left: var(--small-indent);
    margin-right: var(--small-indent);
}
/* --------------------------------- */

/* main */
main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;

    padding-top: var(--big-indent);
    padding-bottom: var(--big-indent);
}

div.main-container, div.tasks-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--normal-indent);
}

div.main-container {
    width: 50%;
    min-width: 650px;
    background-color: var(--light-blue);
    padding: var(--normal-indent);
}

div.main-container > *:last-child {
    margin-top: auto;
}

div.task {
    display: flex;
    flex-direction: row;
    align-items:center;
    column-gap: var(--small-indent);
}

div.tasks-container > header {
    justify-content: center;
    padding-top: var(--small-indent);
    padding-bottom: var(--small-indent);
    border-radius: var(--normal-border-radius);
    font-size: var(--normal-font-size);
}

header.checked {
    background-color: var(--light-green);
    border: 3px solid var(--green);
}

header.unchecked {
    background-color: var(--light-red);
    border: 3px solid var(--red);
}

button.new-task {
    width: 170px;
    padding-top: var(--small-indent);
    padding-bottom: var(--small-indent);
    padding-left: var(--big-indent);
    padding-right: var(--big-indent);
}

input[type='text'], textarea {
    min-width: 400px;
    padding: var(--very-small-indent);
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

@media (max-width: 700px) {
    div.main-container {
        width: 100%;
        min-width: unset;
        background-color: var(--light-blue);
        padding: var(--normal-indent);
        margin-left: var(--normal-indent);
        margin-right: var(--normal-indent);
    }
}

/* -------------------------------------- */
/* dialog */
dialog {
    background-color: var(--light-gray);
    border: 1px solid black;
    border-radius: var(--normal-border-radius);
}

form {
    display: flex;
    flex-direction: column;
}

form * {
    margin-top: var(--very-small-indent);
    margin-bottom: var(--very-small-indent);
}

div.menu {
    margin-bottom: 0;
}

div.menu > button {
    min-width: 150px;
    padding-top: var(--small-indent);
    padding-bottom: var(--small-indent);
    margin-left: var(--small-indent);
    margin-right: var(--small-indent);
    border-radius: var(--normal-border-radius);
    float: right;
}

div.menu > button:first-child {
    margin-right: 0;
    margin-left: 0;
}

textarea {
    resize: vertical;
}

button[type='reset'] {
    background-color: var(--cancel-color);
}

button[type='submit'] {
    background-color: var(--green);
}

button.update {
    background-color: var(--orange);
}
