* {
    box-sizing: border-box;
}

:root {
    --gray: #DADADA;
    --light-blue: #CAF9FF;
    --red: #FF0000;
    --green: #30BA00;
    --normal-font-size: 16px;
    --very-small-indent: 0.5rem;
    --small-indent: 0.75rem;
    --normal-indent: 1rem;
    --big-indent: 1.5rem;
    --normal-border-radius: 5px;
    --normal-border-width: 4px solid;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--normal-font-size);

    background-color: white;
}

header {
    background-color: var(--gray);
    padding: var(--normal-indent);
}

header > p {
    text-align:center;
    margin: 0;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: var(--small-indent);

    margin-bottom: var(--normal-indent);
}

input {
    border-radius: var(--normal-border-radius);
    border: var(--normal-border-width);
    border-color: var(--gray);
    padding: var(--very-small-indent);
}

button {
    background-color: var(--light-blue);
    border: 0;
    border-radius: var(--normal-border-radius);

    padding-left: var(--small-indent);
    padding-right: var(--small-indent);
    padding-top: var(--very-small-indent);
    padding-bottom: var(--very-small-indent);

    margin-left: var(--small-indent);
    margin-right: var(--small-indent);
}

label {
    margin-right: var(--big-indent);
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin-top: var(--normal-indent);
    margin-bottom: var(--normal-indent);
}

div.buttons > *:last-child {
    margin-right: 0;
    margin-left: 0;
}

p.error-text {
    color: var(--red);
    text-align: right;
}

p.success-text {
    color: var(--green);
    text-align: right;
}
